
@{
    ViewBag.Title = "FriendsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="friends-page">
    <section class="main">
        @Html.Partial("_QuickProfilePartial")

        <section class="search-friends shadowed">
            <header>
                <h2 class="centered-header-text">Find new Friends</h2>
            </header>
            @using (Html.BeginForm("SearchFriends", "Friends", FormMethod.Get))
            {
                <div class="form-group">
                    @Html.TextBox("friendsQuery", "", new { @class = "form-control", @placeholder = "Search for new friends" })
                    <input type="submit" class="btn btn-primary btn-sm" value="Search" />
                </div>
            }
            <form method="get">
               
            </form>
        </section>
        <section class="friends-holder shadowed">
            <header>
                <h2 class="centered-header-text">Friends</h2>
            </header>
            <div>
                
            </div>
        </section>
    </section>
</section>

