@using WeDecide.Models.Concrete

@model Question

@section Ajax{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
        function reloadPoll(){

        }
    </script>
}

@if (Model != null)
{
    @Model.Text <br />
    <div name="Responses">
    @foreach (Response r in Model.Responses)
    {
        @:@r.Text has @r.UserResponses.Count votes <br />
    }
    </div>
}

