<h3>Global Questions</h3>
<label>Question #{{q.Id}}</label>
<ul>
    <li>
        {{q.QuestionText}}
    </li>
    <li>
        Active: {{q.IsActive}}
    </li>
    <li>
        <label>Ends: {{q.EndTime}}</label>
    </li>
    @if (Request.IsAuthenticated)
    {
        <li>
            <label>Responses</label>
            <ul>
                <li ng-repeat="r in q.Responses">
                    <!--for the response in the question we're currently on...-->
                    <!--Offer a radio button selection that is named after the question that owns it-->
                    <input type="radio" data-qid={{q.Id}} class="ChosenResponse" name="question{{q.Id}}" value="{{r.Text}}" />{{r.Text}} {{r.VoteCount}}
                </li>

                <li ng-show="{{q.FreeResponseEnabled}}">
                    <input type="radio" data-qid={{q.Id}} name="question{{q.Id}}" class="FreeResponse" />
                    <p>Don't like any of these answers? Submit your own : <input type="text" id="FreeResponseChoice{{q.Id}}" /></p>
                </li>
            </ul>
        </li>
    }
</ul>
