@Scripts.Render("~/Scripts/Angular")
@Scripts.Render("~/Scripts/Feed")
<section ng-app="feedApp">
    <article ng-controller="GlobalCtrl">
        <h3>Global Questions</h3>
        <ul>
            <li ng-repeat="q in questions">
                <label>Question #{{q.Id}}</label>
                <ul>
                    <li>
                        {{q.QuestionText}}
                    </li>
                    <li>
                        Active: {{q.IsActive}}
                    </li>
                    <li>
                        <label>Ends: {{q.EndTime}}</label>
                    </li>
                </ul>
                @*<label>{{q.QuestionText}}</label>*@
                @*<label>Active: {{q.IsActive}}</label>*@
            </li>
        </ul>
    </article>
</section>