@model WeDecide.ViewModels.QuestionViewModel

<section class="make-question">
    @using (Html.BeginForm("CreateQuestion", "Question"))
    {
        <h1>Make a New Question</h1>

        @Html.ValidationMessageFor(x => x.Question)
        <p>Question Text: </p>
        @Html.TextBoxFor(x => x.Question)
        <ul id="responseHolder">
            @Html.ValidationMessageFor(x => x.Responses)
            <li class="response">
                <p>Response: </p>
                <input type="text" name="Responses" />
            </li>
            <li class="response">
                <p>Response: </p>
                <input type="text" name="Responses" />
            </li>
        </ul>
        <input id="addResponse" type="button" value="Add More Responses" />

        @Html.ValidationMessageFor(x => x.EndDate)
        <p>Timout Date: </p>
        <input id="EndDate" type="text" name="EndDate" />
        <input type="submit" value="Make Question" />
    }
</section>