@model WeDecide.ViewModels.QuestionViewModel

<section class="make-question">
    @using (Html.BeginForm())
    {
        <h1>Make a New Question</h1>
        
        @Html.ValidationSummary()
        
        <p>Question Text: </p>
        @Html.TextBoxFor(x => x.Question)
        <ul>
            @for (int i = 0; i < 2; i++)
            {

                <li>
                    <p>Response: </p>
                    <input type="text" name="Responses" />
                </li>
            }
        </ul>
        <p>Timout Date: </p>
        <input id="EndDate" type="text" name="EndDate" />
        <input type="submit" value="Make Question" />
    }
</section>