@model WeDecide.ViewModels.QuestionViewModel

@using (Html.BeginForm("CreateQuestion", "Question"))
{
    <section class="MakeQuestion">
        @Html.ValidationSummary()
        <h3>Question Text: </h3> @Html.TextBoxFor(x => x.Question)
        <br />
        <ul>
            @for (int i = 0; i < 2; i++)
            {
                <li>
                    <p>Response: </p>
                    <input type="text" name="Responses" />
                </li>
            }
        </ul>

        <p>Timout Date: </p><input type="datetime" name="EndDate" />
        <br/>

        <input type="submit" value="Make Question" />
    </section>
}