@using WeDecide.Models.Concrete
<section id="notificationPanel" class="notification-panel bottom-shadow">
    <h3 class="notifications">Notifications</h3>
    @{
        List<Notification> notifications = null;
        if (notifications == null || notifications.Count == 0)
        {
        }
        else
        {
            for (int x = 0; x < notifications.Count; x++)
            {
                switch (notifications[x].Type)
                {
                    case (int)WeDecide.Models.Concrete.Notification.NotificationType.FriendRequest:

                        break;
                    default:
                        break;

                }
            }
        }
        
    }
</section>
<script src="~/scripts/jquery-2.1.3.min.js"></script>
@Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js");
@Scripts.Render("~/signalr/hubs");
@Scripts.Render("~/Scripts/app/Notifications.js");