@model WeDecide.ViewModels.ProfileViewModel

<div class="overlay-box">
    <div id="editBox" class="white_content">
        <header>
            <h2>Edit Your Profile</h2>
        </header>
        <div>
            <form action="/Profile/Update" method="post" enctype="multipart/form-data">
                @*@using (Html.BeginForm("UpdateProfile", "Profile"))
            {*@
                <div class="form-group">
                    <label for="nameEdit">Name</label>
                    @Html.ValidationMessageFor(x => x.UserName)
                    @Html.TextBoxFor(x => x.UserName, new { @id = "nameEdit", @class = "form-control", @name = "nameEdit", @placeholder = "Ex: John Doe" })
                </div>
                <input class="bottom-btn btn btn-default" type="submit" value="Update Profile" />
                @*}*@
            </form>
            <form action="/Profile/UploadImage" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="imageUpload">Profile Picture</label>
                    <input type="file" id="imageUpload" name="image"/>
                    <p class="help-block">Upload your picture here.</p>
                </div>
                <input class="bottom-btn btn btn-default" type="submit" value="Upload Image" />
            </form>
        </div>
    </div>
    <section id="fade" class="black_overlay"></section>
</div>
