<div class="overlay-box">
    <div id="editBox" class="white_content">
        <header>
            <h2>Edit Your Profile</h2>
        </header>
        <div>
            <form>
                <div class="form-group">
                    <label for="nameEdit">Name</label>
                    <input id="nameEdit" type="text" placeholder="name" class="form-control" />
                </div>
            </form>
            <button class="bottom-btn btn btn-default" type="submit">Update Profile</button>
        </div>
    </div>
    <section id="fade" class="black_overlay"></section>
</div>
