@model WeDecide.ViewModels.QuestionPollingViewModel

<section name="poll-question">
    <p>@Model.Question</p>
    <ul>
        @foreach (string Response in Model.Polls.Keys)
        {
            int NumVotes = 0;
            if (Model.Polls.TryGetValue(Response, out NumVotes))
            {
                <li>@NumVotes @Response</li>
            }
        }
    </ul>
</section>