
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home-page">
    @Html.Partial("_QuickProfilePartial")
    <section class="welcome-header shadowed">
        <h1>Welcome Back, User.</h1>
    </section>
    <section class="content-feed">

    </section>
</section>

