
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home-page">
    @Html.Partial("_QuickProfilePartial")
    <section class="welcome-header shadowed">
        <h2>Welcome back, User.</h2>
    </section>
    <div>
        @Html.Partial("_MakeQuestionPartial")
    </div>
    <section class="content-feed">
        
    </section>
    <div class="filter-feed shadowed">
        <div class="checkbox">
            <label>
                <input type="checkbox"> Friends
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Local
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Global
            </label>
        </div>
    </div>
    <div class="add-question">
        <button id="btnNewQuestion" type="button" class="bottom-btn btn-primary btn-lg btn-block">Create New Question</button>
    </div>
</section>

