
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home-page">
    @Html.Partial("_QuickProfilePartial")
    <section class="welcome-header shadowed">
        <h2>Welcome back, User.</h2>
    </section>
    <section class="content-feed">
        <button type="button" class="btn btn-primary btn-lg btn-block" value="Make a new question" />
    </section>
    <div class="filter-feed shadowed">
        <div class="checkbox">
            <label>
                <input type="checkbox"> Friends
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Local
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Global
            </label>
        </div>
    </div>
</section>

