
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home-page">

    <div class="quick-profile-view">
        <div class="profile_pic shadowed"></div>
        <div class="info-panel shadowed">
            <h2 class="small-header">Friends</h2>
        </div>
    </div>
    <section class="welcome-header shadowed">
        <h1>Welcome Back, User.</h1>
    </section>
    <section class="content-feed">

    </section>
</section>

