
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home-page">
    @Html.Partial("_QuickProfilePartial")
    <section class="welcome-header shadowed">
        <h1>Welcome Back, @User.Identity.Name.</h1>
    </section>
    <section class="content-feed">

    </section>
    <div class="filter-feed shadowed">
        <div class="checkbox">
            <label>
                <input type="checkbox"> Friends
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Local
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Global
            </label>
        </div>
    </div>
</section>

