
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="profile-page">
    <div class="profile-view">
        <section class="personal-info">
            <img src="~/Images/placeholder-headshot.jpg" />
            <h1>Random User</h1>
        </section>
    </div>
    <div class="info-box-holder">
        <section class="info-box shadowed">
            <header><h2>Friends</h2></header>
            <div>

            </div>
        </section>
    </div>
</section>

