@using WeDecide.ViewModels
@model ProfileViewModel

@{
    ViewBag.Title = Model.UserName + "'s Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="profile-page">
    <div class="profile-view">
        <section class="personal-info">
            <img src="~/Images/placeholder-headshot.jpg" />
            <h1>@Model.UserName</h1>
            <input id="editBtn" class="btn btn-info btn-sm" type="button" value="Edit Profile" />
        </section>
    </div>
    <div>
        @Html.Partial("_ProfileEditPartial");
    </div>
    <div class="info-box-holder">
        <section class="info-box shadowed">
            <header><h2>Friends</h2></header>
            <div>

            </div>
        </section>
    </div>
</section>

