* {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
 }
 
body {
	margin: 0 auto;
	width: 100%;
 }
 
/*Layout Styling*/
header {
	background-color: #3E606F;
	height: 65px;
	width: 100%;
 }
 
	header h2 {
		display: inline-block;
		font-family: 'Lobster', cursive;
		font-size: 32px;
		left: 2%;
		margin: 0;
		padding: 0;
		position: relative;
	 }
 
nav {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: bold;
	left: 5%;
	position: relative;
	text-align: center;
	width: 150px;
 }
 
	nav ul {
		height: auto;
		padding: 2.5%;
	 }
 
	nav li {
		color: #FFF;
		display: inline-block;
		margin: 0 2.5% 0 2.5%;
	 }
 
		nav li:hover {text-decoration: underline;}
 
header a {
	color: #FFF;
	text-decoration: none;
 }
 
/*End Layout Styling*/
.make-question {
	border: 1px solid #000;
	min-height: 350px;
	padding: 15px;
	text-align: center;
	width: 400px;
 }
 
	.make-question h1 {
		font-size: 24px;
		margin-bottom: 30px;
		text-decoration: underline;
	 }
 
	.make-question ul li {list-style: none;}
 
	.make-question input[type=submit] {
		display: block;
		margin: 30px auto;
	 }
 
/*Home Page styling*/
.quick-profile-view {
	height: 500px;
	left: 2%;
	position: fixed;
	top: 10%;
	width: 175px;
 }
 
.profile_pic {
	background-image: url("../Images/placeholder-headshot.jpg");
	background-size: cover;
	height: 175px;
	position: absolute;
	width: 100%;
 }
 
.info-panel {
	background-color: #FCFFF5;
	bottom: 0;
	height: 300px;
	position: absolute;
	width: 100%;
 }
 
.small-header {
	color: #193441;
	font-family: 'Lobster', sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
	text-align: center;
 }
 
.welcome-header {
	background-color: #FCFFF5;
	color: #193441;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	left: 50%;
	position: relative;
	text-align: center;
	top: 30px;
	transform: translateX(-50%);
	width: 50%;
 }
 
.content-feed {
	left: 50%;
	position: relative;
	text-align: center;
	transform: translateX(-50%);
	width: 50%;
 }
 
/*End Home Page Styling*/
/*Profile Page Styling*/
.profile-view {
	background-image: url("../Images/default_background.jpg");
	background-size: cover;
	height: 500px;
	margin: 30px auto;
	width: 100%;
 }
 
.personal-info {
	overflow-y: hidden;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
 }
 
	.personal-info img {
		border-radius: 100%;
		height: 300px;
		margin: auto;
		width: 300px;
	 }
 
	.personal-info h1 {
		color: #FFF;
		font-family: 'Lobster', sans-serif;
		font-size: 36px;
		margin: 0;
	 }
 
.info-box-holder {
	height: 275px;
	margin: 0 auto;
	text-align: center;
	width: 95%;
 }
 
.info-box {
	background-color: #FCFFF5;
	color: #FCFFF5;
	display: inline-block;
	height: 250px;
	margin: 10px 5px 10px 5px;
	overflow-y: auto;
	width: 30%;
 }
 
	.info-box div {
		color: #000;
		font-family: 'Raleway', sans-serif;
		padding: 10px;
	 }
 
	.info-box header {text-align: center;}
 
	.info-box h2 {
		font-family: 'Lobster', 'Arial', sans-serif;
		margin-top: 5px;
	 }
 
/*End Profile Page Styling*/

/*Friends Page Styling*/
.search-friends {
    width: 50%;
    margin: 30px auto;
}

.search-friends header {
    height: 30px;
}

.search-friends header h2 {
    font-size: 18px;
}

.search-friends div {
    padding: 10px 20px 10px 20px;
}

.friends-holder {
    height: 700px;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.friends-holder header {
    text-align: center;
}

.small-friend-img {
    height: 50px;
    width: 50px;
}

.friend-overview {
    padding-bottom: 20px;
}

.friend-overview h4 {
    margin: 15px 0 10px 10px;
    display: inline-block;
}

.friend-overview button {
    position: relative;
    top: 15px;
}

/*End Friends Page Styling*/

/*General Shared Styling*/
.shadowed {
	-moz-box-shadow: 3px 3px 4px 2px #ccc;
	-webkit-box-shadow: 3px 3px 4px 2px #ccc;
	box-shadow: 3px 3px 4px 2px #ccc;
 }
 
.black_overlay {
    background-color: #000;
	display: none;
	filter: blur(3px) opacity(80%);
	height: 100%;
	left: 0%;
	margin-bottom: 12px;
	margin-top: 65px;
	opacity: .80;
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 1001;
 }
 
.white_content {
	background-color: white;
	display: none;
	left: 50%;
	overflow: auto;
	position: fixed;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 80%;
	z-index: 1002;
 }

.white_content header {
    text-align: center;
}

.white_content header h2 {
    font-family: Arial, sans-serif;
    margin: 10px auto;
    color: #FFF;
}

.white_content div {
    padding: 10px 20px 10px 20px;
}

.bottom-btn {
    display: block;
    margin: 0 auto;
}

.centered-header-text {
    font-family: Arial, sans-serif;
    color: #FFF;
    margin-top: 10px;
}
 
/*End General Shared Styling*/
/*Layout Styling*/
footer {
	background-color: #3E606F;
	bottom: 0px;
	height: 35px;
	position: static;
	text-align: center;
	width: 100%;
 }
 
	footer p {
		color: #FFF;
		font-family: sans-serif;
		font-size: 12px;
		position: relative;
		top: 25%;
	 }
 
.fixed-footer {
	bottom: 0;
	position: fixed;
 }
 
	.fixed-footer p {top: 20%;}
 
/*End Layout Styling*/