* {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
 }
 
html {
    background-color: #FCFFF5;
    min-width: 400px;
}

body {
	margin: 0 auto;
	width: 100%;
    background-color: #FCFFF5;
    min-width: 400px;
 }

.main {
    background-color: #FCFFF5;
}

/*Layout Styling*/
header {
	background-color: #3E606F;
	height: 65px;
	width: 100%;
 }

.fixed-header {
    position: fixed;
    top: 0;
    z-index: 1000;
    min-width: 400px;
}
 
	header h2 {
		display: inline-block;
		font-size: 32px;
        float: left;
		left: 2%;
        top: 15%;
		margin: 0;
		padding: 0;
		position: relative;
	 }

    header h2 a {
        font-family: 'Lobster', sans-serif;
        color: #FFF;
        font-weight: bold;
    }

    header a:hover {color: #FFF;}
 
nav {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
    float: left;
	left: 5%;
    top: 25%;
	position: relative;
	text-align: center;
	width: 150px;
 }
 
	nav ul {
		height: auto;
		padding: 2.5%;
	 }
 
	nav li {
        font-family: 'Raleway', sans-serif;
		color: #FFF;
		display: inline-block;
		margin: 0 2.5% 0 2.5%;
	 }
 
		nav li:hover {text-decoration: underline;}
 
header a {
	color: #FFF;
	text-decoration: none;
 }

.icons {
	color: #FFF;
    font-size: 1.20em;
	display: inline-block;
	position: relative;
	right: 25px;
	top: 35%;
    width: 75px;
    float: right;
    line-height: 100%;
 }

.icons form {
    width: 17px;
    display: inline-block;
    float: right;
    cursor: pointer;
}

.icons .fa-sign-out {
    float: right;
}

.icons .notification-wrapper {
    float: left;
    cursor: pointer;
}

    .icons .notification-wrapper .notification-count {
        display: inline-block;
    }
 
	.icons i {margin: 0 2px 0 2px;}
 
/*End Layout Styling*/

/*Landing page Styling*/
.background-container {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
 }
 
.layer {
	background-image: url("../Images/landing-background_2.jpg");
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
 }
 
.blur {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.color-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3E606F;
    opacity: 0.50;
    z-index: -1;
}

@media only screen and (min-width: 800px) {
    .login-container {
        width: 800px;
        height: 450px;
	    left: 50%;
	    position: fixed;
	    text-align: center;
	    top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }   
    
    .login-box {
	    font-family: 'Arial', sans-serif;
	    width: 250px;
        display: inline-block;
        float: right;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .global-feed {
        display: inline-block;
        float: left;
        text-align: center;
    }
}

.login-box label {
    margin: 0;
}
 
	.login-box h2 {
		color: #FFF;
		font-size: 42px;
		margin: 0 0 20px 0;
		padding: 0;
	 }
 
	.login-box input[type=text], input[type=password], input[type=submit] {
		display: block;
		height: 35px;
		margin: 10px auto;
		width: 250px;
	 }

    .login-box input[type=text], input[type=password] {
        opacity: 0.70;
    }

    .login-box label {
        color: #FFF;
    }

.global-feed header {
    text-align: center;
}

.global-feed h2 {
    margin: 0 auto 20px auto;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

.global-feed div {
    height: 400px;
    width: 400px;
    background-color: #FFF;
    overflow-y: auto;
    opacity: 0.75;
}

@media only screen and (max-width: 800px) {
    .login-container {
	    left: 50%;
	    position: fixed;
	    text-align: center;
	    top: 5%;
        transform: translateX(-50%);
        z-index: 100;
    }

    .login-box {
	    font-family: 'Arial', sans-serif;
	    width: 250px;
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 200px auto 0 auto;
    }

    .global-feed {
        display: block;
        text-align: center;
    }
}

/*End Landing Page Styling*/

.make-question {
	z-index: 100;
 }
 
	.make-question h1 {
		font-size: 24px;
		margin-bottom: 30px;
		text-decoration: underline;
	 }
 
	.make-question ul li {list-style: none;}
 
	.make-question input[type=submit] {
		display: block;
		margin: 30px auto;
	 }
 
/*Home Page styling*/
@media only screen and (min-width: 800px) {
    .quick-profile-view {
	    height: 500px;
	    left: 2%;
	    position: fixed;
	    top: 10%;
	    width: 175px;
    }

    .welcome-header {
	    background-color: #FCFFF5;
	    color: #193441;
	    font-family: 'Raleway', sans-serif;
	    font-size: 32px;
	    left: 50%;
	    position: relative;
	    text-align: center;
	    top: 30px;
	    transform: translateX(-50%);
	    width: 50%;
        max-height: 120px;
        margin-top: 70px;
    }

    .content-feed {
	    left: 50%;
	    position: relative;
	    text-align: center;
	    transform: translateX(-50%);
	    width: 50%;
        min-height: 700px;
        margin-bottom: 40px;
        margin-top: 0;
    }
 
    .add-question {
        margin: 40px auto;
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .quick-profile-view {
	    display: none;
    }
    
    .welcome-header {
	    background-color: #FCFFF5;
	    color: #193441;
	    font-family: 'Raleway', sans-serif;
	    font-size: 32px;
	    position: relative;
	    text-align: center;
	    top: 30px;
	    width: 90%;
        max-height: 120px;
        margin: 70px auto 0 auto;
    }

    .content-feed {
	    position: relative;
	    text-align: center;
	    width: 90%;
        height: 700px;
        margin: 0 auto 40px auto;
    }
 
    .add-question {
        margin: 40px auto;
        width: 90%;
    }  
}
 
.profile_pic {
	background-image: url("../Images/placeholder-headshot.jpg");
	background-size: cover;
    background-position: center;
	height: 175px;
	position: absolute;
	width: 100%;
 }

.friend-thumb {
    background-image: url("../Images/placeholder-headshot.jpg");
	background-size: cover;
    background-position: center;
	display: inline-block;
	height: 50px;
	width: 50px;
 }
.friend-thumb-lrg {
    height: 100px;
    width: 100px;
}

.info-panel {
	background-color: #FCFFF5;
	bottom: 0;
	height: 300px;
	position: absolute;
    padding: 5px;
	width: 100%;
    text-align: center;
 }
 
.small-header {
	color: #193441;
	font-family: 'Lobster', sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
	text-align: center;
 }

.welcome-header h1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}

.filter-feed {
	padding-left: 5px;
	position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 125%;
    padding-top: 10px;
   }

.overflowdiv {
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: auto;
}

.ng-scope {
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    margin: 10px auto 0 auto;
}

.ng-scope label {
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
}

.ng-scope li {
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

/*End Home Page Styling*/

/*Profile Page Styling*/
.profile-view {
	background-image: url("../Images/default_background.jpg");
	background-size: cover;
	height: 500px;
	margin: 100px auto 30px auto;
	width: 100%;
 }
 
.personal-info {
	overflow-y: hidden;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
 }
 
	.personal-info .profile-pic {
        background-image: url("../Images/placeholder-headshot.jpg");
        background-size: cover;
        background-position: center;
		border-radius: 100%;
		height: 300px;
		margin: auto;
		width: 300px;
	 }
 
	.personal-info h1 {
		color: #FFF;
		font-family: 'Lobster', sans-serif;
		font-size: 36px;
		margin: 0 auto 15px auto;
	 }
 
@media only screen and (min-width: 800px) {
    .info-box-holder {
	    height: 275px;
	    margin: 0 auto;
	    text-align: center;
	    width: 95%;
    }
 
    .info-box {
	    background-color: #FCFFF5;
	    color: #FCFFF5;
	    display: inline-block;
	    height: 250px;
	    margin: 10px 5px 10px 5px;
	    overflow-y: auto;
	    width: 45%;
    }        
}

@media only screen and (max-width: 800px) {
    .info-box-holder {
	    margin: 0 auto 40px auto;
	    text-align: center;
	    width: 95%;
    }
 
    .info-box {
	    background-color: #FCFFF5;
	    color: #FCFFF5;
	    display: block;
	    height: 250px;
	    margin: 10px auto 20px auto;
	    overflow-y: auto;
	    width: 90%;
    }
}
 
	.info-box div {
		color: #000;
		font-family: 'Raleway', sans-serif;
		padding: 10px;
	 }
 
	.info-box header {text-align: center;}
 
	.info-box h2 {
		font-family: 'Lobster', 'Arial', sans-serif;
		margin-top: 5px;
	 }
 
/*End Profile Page Styling*/
/*Friends Page Styling*/
@media only screen and (min-width: 800px) {
    .search-friends {
	    margin: 90px auto 0 auto;
	    width: 50%;
        text-align: center;
    }
 
	.search-friends header {height: 30px;}
 
		.search-friends header h2 {
            font-size: 18px;
            position: relative;
            top: 0;
		}

    .friends-holder {
	    height: 700px;
	    position: relative;
	    width: 50%;
        margin: 0 auto 40px auto;
     }    
}

@media only screen and (max-width: 800px) {
    .search-friends {
	    margin: 90px auto 0 auto;
	    width: 90%;
    }
 
	.search-friends header {height: 30px;}
 
		.search-friends header h2 {
            font-size: 18px;
            position: relative;
            top: 0;
		}
 
	.search-friends div {padding: 10px 20px 10px 20px;}
 
    .friends-holder {
	    height: 700px;
	    position: relative;
	    width: 90%;
        margin: 0 auto 40px auto;
     }    
}
 
	.friends-holder header {text-align: center;}
 
.small-friend-img {
	height: 50px;
	width: 50px;
 }
 
.friend-overview {padding-bottom: 20px;}
 
	.friend-overview h4 {
		display: inline-block;
		margin: 15px 0 10px 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 300px;
	 }
 
	.friend-overview input {
		position: relative;
        width: 80px;
	 }

.search-friends .form-group .form-control {
    display: inline-block;
    width: 80%;
}

.search-friends .form-group .btn {
    display: inline-block;
    width: auto;
}
 
/*End Friends Page Styling*/
/*General Shared Styling*/
.shadowed {
	-moz-box-shadow: 3px 3px 4px 2px #ccc;
	-webkit-box-shadow: 3px 3px 4px 2px #ccc;
	box-shadow: 3px 3px 4px 2px #ccc;
 }

.bottom-shadow {
    -moz-box-shadow: 3px 0px 4px 2px #ccc;
	-webkit-box-shadow: 3px 0px 4px 2px #ccc;
	box-shadow: 0px 2px 2px 1px #ccc;
}

.black_overlay {
	    background-color: #000;
	    display: none;
	    filter: opacity(80%);
	    height: 100%;
	    left: 0%;
	    margin-bottom: 12px;
	    margin-top: 65px;
	    opacity: .80;
	    position: fixed;
	    top: 0%;
	    width: 100%;
	    z-index: 1001;
}

@media only screen and (min-width: 800px) {
    .white_content {
        max-height: 600px;
	    background-color: white;
	    display: none;
	    left: 50%;
	    overflow-y: auto;
	    position: fixed;
	    top: 50%;
	    transform: translateX(-50%) translateY(-50%);
	    width: 757px;
	    z-index: 1002;
     }
}

@media only screen and (max-width: 800px) {
    .white_content {
	    background-color: white;
	    display: none;
	    overflow-y: auto;
	    position: fixed;
        top: 50%;
        transform: translateY(-50%);
	    width: 100%;
	    z-index: 1002;
     }
}
 
	.white_content header {text-align: center;}
 
		.white_content header h2 {
			color: #FFF;
			font-family: Arial, sans-serif;
			margin: 10px auto;
		 }
 
	.white_content div {padding: 10px 20px 10px 20px;}
 
.bottom-btn {
	display: block;
	margin: 0 auto;
 }
 
.centered-header-text {
	color: #FFF;
	font-family: 'Lobster', sans-serif;
	margin-top: 10px;
 }
 
.input-validation-error {
	background-color: #FEE;
	border: 1px solid #F00;
 }
 
.field-validation-error {
	color: #F00;
    font-size: 12px;
	font-weight: bold;
 }

.validation-summary-errors li {
    list-style-type: none;
    color: #F00;
    font-weight: bold;
}
 
.notification-panel {
    height: 420px;
    width: 250px;
    z-index: 2000;
    position: fixed;
    right: 1%;
    top: 65px;
    background-color: #FCFFF5;
    padding: 5px;
    text-align: center;
    display: none;
}

.notification-panel h3 {
    margin: 0px;
    font-family: 'Lobster', sans-serif;
    text-decoration: underline;
}

.notification {
    margin: 20px auto 20px auto;
    text-align: left;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.notification form {
    display: inline-block;
    width: 45%;
    margin: 0 2px auto 2px;
}

.notification form input[type=submit] {
    width: 100%;
}

/*End General Shared Styling*/
/*Layout Styling*/
footer {
	background-color: #3E606F;
	bottom: 0px;
	height: 35px;
	position: static;
	text-align: center;
	width: 100%;
 }
 
	footer p {
		color: #FFF;
		font-family: sans-serif;
		font-size: 12px;
		position: relative;
		top: 25%;
	 }
/*End Layout Styling*/